.scroll {
    overflow-y: auto; /* Permite o scroll vertical */
    scrollbar-width: thin; /* Funciona no Firefox */
    scrollbar-color: rgba(85, 85, 85, 0.7) #1e1e1e; /* Cor no Firefox */
}

.scrollDark {
    overflow-y: auto; /* Permite o scroll vertical */
    scrollbar-width: thin; /* Funciona no Firefox */
    scrollbar-color: rgb(203 213 225 / var(--tw-text-opacity, 1)) rgb(248 250 252 / var(--tw-bg-opacity, 1)); 
}

